blinker==1.8.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cssselect==1.2.0
defusedxml==0.7.1
Flask==3.0.3
Flask-Login==0.6.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
json5==0.9.25
lxml==5.2.2
MarkupSafe==2.1.5
pycurl==7.45.3
pyquery==2.0.0
pyspider==0.3.10
PyYAML==6.0.1
requests==2.32.2
six==1.16.0
tblib==3.0.0
tornado==4.5.3
u-msgpack-python==2.8.0
urllib3==2.2.1
Werkzeug==3.0.3
WsgiDAV==4.3.3
